<div class="dashboard_unit wide" id="recently_updated_pages">
  <h2>Recently Updated Pages</h2>

  <div class="roundedcorners" style="position: relative">
    <table class="data">
      <thead>
        <tr>
          <th class="name first unbordered" colspan="2"><div class="dividers">Page</div></th>
          <th><div class="dividers">Version</div></th>
          <th><div class="dividers">Date</div></th>
          <th class="last" colspan="2"><div class="dividers">Editor</div></th>
        </tr>
      </thead>
      <tbody>
        <% @recently_updated_pages.each do |page| %>
          <tr>
            <td class="first"></td>
            <td class="name">
              <div class="dividers">
                <%= link_to h(page.name_with_section_path), page.path %>
              </div>
            </td>
            <td>
              <div class="dividers">
                <%= "v.#{page.draft.version}" %>
                <%= '(LIVE)' if page.version == page.draft.version %>
              </div>
            </td>
            <td>
              <div class="dividers"><%= page.draft.updated_at.strftime("%b %d, %Y %I:%M %p") if page.draft.updated_at %></div>
            </td>
            <td>
              <div><%= page.draft.updated_by.login if page.draft.updated_by %></div>
            </td>
            <td class="last"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="tl"></div>
    <div class="tr"></div>
    <div class="bl"></div>
    <div class="br"></div>
  </div>
</div>
