<div class="dashboard_unit wide" id="recent_changes">
  <h2>Recent Changes</h2>

  <div class="roundedcorners" style="position: relative">
    <table class="data">
      <thead>
        <tr>
          <th class="name first unbordered" colspan="2"><div class="dividers">Page</div></th>
          <th><div class="dividers">Version</div></th>
          <th><div class="dividers">Comment</div></th>
          <th><div class="dividers">Date</div></th>
          <th class="last" colspan="2"><div class="dividers">Editor</div></th>
        </tr>
      </thead>
      <tbody>
        <% @recent_updates.each do |r| %>
          <tr>
            <td class="first"></td>
            <td class="name">
              <div class="dividers">
                <%= link_to h(r.page.name_with_section_path), r.page.path %>
              </div>
            </td>
            <td>
              <div class="dividers">
                <%= "v.#{r.version}" %>
                <%= '(LIVE)' if r.page.version == r.version %>
                <%= '(CURRENT)' if r.page.draft == r %>
              </div>
            </td>
            <td>
              <div class="dividers"><%=h r.version_comment %></div>
            </td>
            <td>
              <div class="dividers"><%= r.created_at.strftime("%b %d, %Y %I:%M %p") if r.created_at %></div>
            </td>
            <td>
              <div><%= r.updated_by.login if r.updated_by %></div>
            </td>
            <td class="last"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="tl"></div>
    <div class="tr"></div>
    <div class="bl"></div>
    <div class="br"></div>
  </div>
</div>
